@model IEnumerable<qcsolver.Models.ConstructionSite>

@{
    ViewBag.Title = "Index";
}

<h2>View Construction Sites</h2>
<hr style="border: 1px double #337ab7;">

<p>
    @Html.ActionLink("Create construction site", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.startDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.endDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.city)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Company1.companyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country1.countryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Province1.provinceName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.startDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.endDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.city)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Company1.companyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country1.countryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Province1.provinceName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.constructionSiteId }) |
            @Html.ActionLink("Details", "Details", new { id=item.constructionSiteId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.constructionSiteId })
        </td>
    </tr>
}

</table>
