@model qcsolver.Models.Company

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Company</h4>
    <hr />
    <form class="form-inline">
        <div class="form-group">
            <label>
                @Html.DisplayNameFor(model => model.companyName)
            </label>

            <dd>
                @Html.DisplayFor(model => model.companyName)
            </dd>
                <br />
            <label>
                @Html.DisplayNameFor(model => model.contactNumber)
            </label>

            <dd>
                @Html.DisplayFor(model => model.contactNumber)
            </dd>
                <br />
            <label>
                @Html.DisplayNameFor(model => model.contactEmail)
            </label>

            <dd>
                @Html.DisplayFor(model => model.contactEmail)
            </dd>
                <br />
            <label>
                @Html.DisplayNameFor(model => model.address)
            </label>

            <dd>
                @Html.DisplayFor(model => model.address)
            </dd>
        </div>
        <div class="form-group" style="padding-left:10%">
            <label>
                @Html.DisplayNameFor(model => model.postalCode)
            </label>

            <dd>
                @Html.DisplayFor(model => model.postalCode)
            </dd>
                <br />
            <label>
                @Html.DisplayNameFor(model => model.city)
            </label>

            <dd>
                @Html.DisplayFor(model => model.city)
            </dd>
                <br />
            <label>
                @Html.DisplayNameFor(model => model.Country1.countryName)
            </label>

            <dd>
                @Html.DisplayFor(model => model.Country1.countryName)
            </dd>
                <br />
            <label>
                @Html.DisplayNameFor(model => model.Province1.provinceName)
            </label>

            <dd>
                @Html.DisplayFor(model => model.Province1.provinceName)
            </dd>
        </div>
    </form>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.companyId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
