@model qcsolver.Models.Company

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Company</h4>
    <hr />
    <form class="form-inline">
        <div class="form-group">
            <label>
                @Html.DisplayNameFor(model => model.companyName)
            </label>

            <dd>
                @Html.DisplayFor(model => model.companyName)
            </dd>

            <label>
                @Html.DisplayNameFor(model => model.contactNumber)
            </label>

            <dd>
                @Html.DisplayFor(model => model.contactNumber)
            </dd>

            <label>
                @Html.DisplayNameFor(model => model.contactEmail)
            </label>

            <dd>
                @Html.DisplayFor(model => model.contactEmail)
            </dd>

            <label>
                @Html.DisplayNameFor(model => model.address)
            </label>

            <dd>
                @Html.DisplayFor(model => model.address)
            </dd>
            </div>
        <div class="form-group" style="padding-left:10%">
            <label>
                @Html.DisplayNameFor(model => model.postalCode)
            </label>

            <dd>
                @Html.DisplayFor(model => model.postalCode)
            </dd>

            <label>
                @Html.DisplayNameFor(model => model.city)
            </label>

            <dd>
                @Html.DisplayFor(model => model.city)
            </dd>

            <label>
                @Html.DisplayNameFor(model => model.Country1.countryName)
            </label>

            <dd>
                @Html.DisplayFor(model => model.Country1.countryName)
            </dd>

            <label>
                @Html.DisplayNameFor(model => model.Province1.provinceName)
            </label>

            <dd>
                @Html.DisplayFor(model => model.Province1.provinceName)
            </dd>
        </div>
</form>
</div>
<br />
<p>
    @Html.ActionLink("Edit", "Edit", new { company = Model.companyId }) |
    @Html.ActionLink("View Construction Sites", "Index", "ConstructionSites", new { company = Model.companyId }, null) |
    @Html.ActionLink("View All Users", "Index", "Account", new { company = Model.companyId }, null) |
    @Html.ActionLink("View Admins", "Index", "Account", new { company = Model.companyId, type = "admin" }, null) |
    @Html.ActionLink("View Supervisors", "Index", "Account", new { company = Model.companyId, type = "supervisor" }, null) |
    @Html.ActionLink("View Contractors", "Index", "Account", new { company = Model.companyId, type = "contractor" }, null) |
    @Html.ActionLink("View Subcontractors", "Index", "Account", new { company = Model.companyId, type = "subcontractor" }, null) |
    @Html.ActionLink("Back to List", "Index")
</p>
