@model IEnumerable<qcsolver.Models.Company>

@{
    ViewBag.Title = "Index";
}

<h2>View Companies</h2>
<hr style="border: 1px double #337ab7;">

<p>
    @Html.ActionLink("Add new company", "Create")
</p>
<table class="table table-striped table-bordered table-condensed table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.companyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.city)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Province1.provinceName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country1.countryName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.companyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.city)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Province1.provinceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country1.countryName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { company = item.companyId }) |
                @Html.ActionLink("Details", "Details", new { company = item.companyId }) |
                @Html.ActionLink("Delete", "Delete", new { company = item.companyId })
            </td>
        </tr>
    }

</table>
