@model qcsolver.Models.Timestamp

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Timestamp</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.timeIn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.timeIn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.timeOut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.timeOut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConstructionSite1.constructionSiteName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConstructionSite1.constructionSiteName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Person1.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person1.firstName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.timestampId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
