@model IEnumerable<qcsolver.Models.Person>

@{
    ViewBag.Title = "Index";
}
@*@if (ViewBag.type != null)
{
    <h2>View @ViewBag.type</h2>
}*@
<h2>View Personnel</h2>
<hr style="border: 1px double #337ab7;">

<p>
    @Html.ActionLink("Create new user", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersonType.type)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastName)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.PersonType.type)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.personId }) |
                @Html.ActionLink("Profile", "Profile", new { person = item.personId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.personId })
            </td>
        </tr>
    }

</table>

