@model qcsolver.Models.Person

@{
    ViewBag.Title = "Profile";
}

@using qcsolver.Models;
<link type="text/css" href="~/Content/Profile.css" rel="stylesheet">
<h2>@(((Person)ViewBag.person).firstName + " " + ((Person)ViewBag.person).lastName)'s Profile</h2>
<span>@Html.ActionLink("Change account information", "Edit", "Account")</span>
<hr style="border: 1px double #337ab7;">
    <img class="profileImage"src="~/Content/Images/lion.png" alt="Profile Image"/>
<div class="profile">
    <profile>
        <properties>
            <div class="dNames">
                <br />
                <strong>@Html.DisplayNameFor(model => model.firstName):</strong>
                <br />
                <br />
                <strong>@Html.DisplayNameFor(model => model.lastName):</strong>
                <br />
                <br />
                <strong>@Html.DisplayNameFor(model => model.city):</strong>
                <br />
                <br />
                <strong>@Html.DisplayNameFor(model => model.address):</strong>
                <br />
                <br />
                <strong>@Html.DisplayNameFor(model => model.postalCode):</strong>
                <br />
                <br />
                <strong>@Html.DisplayNameFor(model => model.phone):</strong>
                <br />
                <br />
                <strong>@Html.DisplayNameFor(model => model.email):</strong>
                <br />
                <br />@if (((Person)ViewBag.person).PersonType.type != "master")
                {
                    <strong>@Html.DisplayNameFor(model => model.Company1.companyName)</strong>
                    <br />
                    <br />
                }
                <strong>@Html.DisplayNameFor(model => model.Country1.countryName):</strong>
                <br />
                <br />
                <strong>@Html.DisplayNameFor(model => model.Province1.provinceName):</strong>
                <br />
                <br />
                <strong>@Html.DisplayNameFor(model => model.PersonType.type):</strong>
                <br />
            </div>
            <div class="dFor">
                <br />
                <span>@Html.DisplayFor(model => model.firstName)</span>
                <br />
                <br />
                <span>@Html.DisplayFor(model => model.lastName)</span>
                <br />
                <br />
                <span>@Html.DisplayFor(model => model.city)</span>
                <br />
                <br />
                <span>@Html.DisplayFor(model => model.address)</span>
                <br />
                <br />
                <span>@Html.DisplayFor(model => model.postalCode)</span>
                <br />
                <br />
                <span>@Html.DisplayFor(model => model.phone)</span>
                <br />
                <br />
                <span>@Html.DisplayFor(model => model.email)</span>
                <br />
                <br />
                @if (((Person)ViewBag.person).PersonType.type != "master")
                {
                    <span>@Html.DisplayFor(model => model.Company1.companyName)</span>
                    <br />
                    <br />
                }
                <span>@Html.DisplayFor(model => model.Country1.countryName)</span>
                <br />
                <br />
                <span>@Html.DisplayFor(model => model.Province1.provinceName)</span>
                <br />
                <br />
                <span>@Html.DisplayFor(model => model.PersonType.type)</span>
                <br />
                <br />
            </div>
        </properties>
    </profile>
</div>
    <hr />
<h4>Personal option links</h4>
    <nav class="linksUnderPic">
        <hr />
            <span>@Html.ActionLink("Certificates", "Index", "Certificates", new { person = Model.personId }, null)</span><br />
            <span>@Html.ActionLink("Download Contract", "ViewContract", "Account", new { person=Model.personId}, null)</span><br />
            <span>@Html.ActionLink("Licenses", "Index", "Licenses", new { person = Model.personId }, null)</span><br />
            <span>@Html.ActionLink("Timestamps", "Index", "Timestamps")</span><br />
            <span>@Html.ActionLink("Schedules", "Index", "Schedules")</span>
    </nav>
