@model qcsolver.Models.License

@{
    ViewBag.Title = "Delete";
}

<h2>Delete License?</h2>
<hr style="border: 1px double #337ab7;">

<div>
    <h4>License</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.licenseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.licenseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateIssued)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateIssued)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.expirationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.expirationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fileLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fileLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Person1.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person1.firstName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
