@model IEnumerable<qcsolver.Models.License>

@{
    ViewBag.Title = "Index";
}

<h2>View Licenses</h2>
<hr style="border: 1px double #337ab7;">

<p>
    @Html.ActionLink("Add new license", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.licenseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateIssued)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.expirationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fileLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Person1.firstName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.licenseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateIssued)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.expirationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fileLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Person1.firstName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.licenseId }) |
            @Html.ActionLink("Details", "Details", new { id=item.licenseId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.licenseId })
        </td>
    </tr>
}

</table>
