@model qcsolver.Models.Certificate

@{
    ViewBag.Title = "Create";
}

<h2>Add new certificate</h2>
<hr style="border: 1px double #337ab7;">

@using (Html.BeginForm("Create", "Certificates", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Certificate</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.certificateName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.certificateName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.certificateName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.dateIssued, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.dateIssued, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.dateIssued, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="file">Upload Certificate File:</label>
            <input type="file" name="certificateFile" id="certificateFile" /><br><br>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.person, "person", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("person", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.person, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Cancel", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
