@model qcsolver.Models.Certificate

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Certificate</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.certificateName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.certificateName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateIssued)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateIssued)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fileLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fileLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Person1.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person1.firstName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.certificateId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
