@model IEnumerable<qcsolver.Models.Certificate>

@{
    ViewBag.Title = "Index";
}

<h2>View Certificates</h2>
<hr style="border: 1px double #337ab7;">
<link type="text/css" href="~/Content/BottomImages.css" rel="stylesheet">
<p>
    @Html.ActionLink("Add certification", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.certificateName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateIssued)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fileLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Person1.firstName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.certificateName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateIssued)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fileLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Person1.firstName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.certificateId }) |
            @Html.ActionLink("Details", "Details", new { id=item.certificateId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.certificateId })
        </td>
    </tr>
}
</table>
<div class="indexImages">
    <img src="~/Content/Images/Icons/certificate.png" alt="Certificate Icon" />
</div>